<div class="footer container">
  <div class="row">
    <div class="col-xs-10">
      <ul class="nav nav-pills">
        <li><a href="#">Developers</a></li>
        <li><a href="#">Góp ý</a></li>
        <li><a href="#">Hướng dẫn</a></li>
      </ul>
      <p>&COPY; copyright by Tran Huy Hoang</p>
      <p>Đơn vị chủ quản: Heroku</p>
      <p>Giấy phép: none</p>
    </div>
    <div class="col-xs-2 scroll-top">
      <i class="glyphicon glyphicon-upload text-primary"></i>
    </div>
  </div>
 </div>
