<div class="col-xs-12 col-sm-3" id="sidebar">
  <div class="box-sidbar" id="new-posts">
    <div class="top-box-sidebar">
      <h3>Bài viết mới</h3>
    </div>
    <div class="content-box-side-bar">
      <ul class="list-posts list-unstyled">
        <li class="post">
          <h3><a href="#">Mưa buồn chiều cuối thu</a></h3>
          <p><i class="glyphicon glyphicon-time"></i> 10:20 20/9/2015</p>
          <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a></p>
        </li>
        <li class="post">
          <h3><a href="#">Chuyến đi bão tố</a></h3>
          <p><i class="glyphicon glyphicon-time"></i> 10:20 20/9/2015</p>
          <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a></p>
        </li>
        <li class="post">
          <h3><a href="#">Gió lướt giữa trời mưa</a></h3>
          <p><i class="glyphicon glyphicon-time"></i> 10:20 20/9/2015</p>
          <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a></p>
        </li>
        <li class="post">
          <h3><a href="#">Nhớ mùa thu năm ấy</a></h3>
          <p><i class="glyphicon glyphicon-time"></i> 10:20 20/9/2015</p>
          <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a></p>
        </li>
        <li class="post">
          <h3><a href="#">Cô gái của tôi</a></h3>
          <p><i class="glyphicon glyphicon-time"></i> 10:20 20/9/2015</p>
          <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a></p>
        </li>
      </ul>
    </div>
  </div>

    <div class="box-sidbar" id="new-videos">
      <div class="top-box-sidebar">
        <h3>Video mới</h3>
      </div>
      <div class="content-box-side-bar">
        <div class="frame-video">
          <iframe width="100%" height="200px" src="https://www.youtube.com/embed/D3Xh6rDviv0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="box-sidbar" id="new-album-photo">
      <div class="top-box-sidebar">
        <h3>Album ảnh mới</h3>
      </div>
      <div class="content-box-side-bar">
        <ul class="list-posts list-unstyled">
          <li class="post">
            <div class="image-post">
              <%= image_tag "img8.jpg" , class: "img-responsive img-thumbnail" %>
            </div>
            <h3><a href="#">Ngẫu hứng ngày thu</a></h3>
            <p><i class="glyphicon glyphicon-time"></i> 10:20 20/9/2015</p>
          </li>
          <li class="post">
            <div class="image-post">
              <%= image_tag "img8.jpg" , class: "img-responsive img-thumbnail" %>
            </div>
            <h3><a href="#">Lặng lẽ</a></h3>
            <p><i class="glyphicon glyphicon-time"></i> 10:20 20/9/2015</p>
          </li>
          <li class="post">
            <div class="image-post">
              <%= image_tag "img8.jpg" , class: "img-responsive img-thumbnail" %>
            </div>
            <h3><a href="#">Gọi mưa về trong đêm</a></h3>
            <p><i class="glyphicon glyphicon-time"></i> 10:20 20/9/2015</p>
          </li>
        </ul>
      </div>
    </div>
</div>
